.App {
  width: 100%;
  height: auto;
  text-align: center;
}

.whiteText {
  margin: 190px 5px;
  padding: 20px 20px;
  color: black;
  text-shadow: 1px black;
  background-color: white;
  opacity: .9;
  border-radius: 25px;
  height: auto;
  box-sizing: border-box;
}

.imageMargin {
  margin-top: 15%;
}

.App > h1 {
  color: white;
  margin-top: 30%;
  background-image: linear-gradient(to bottom, Snow, Gold, pink, Snow );
  padding: 50px 0 200px 0;
  height: 100%;
  text-shadow: 1px 1px DeepPink ;
}

.error404 {
  padding: 50px;
  vertical-align: center;


}
