.App {
  width: 100%;
  height: auto;
  text-align: center;
}

.whiteText {
  margin: 190px 5px;
  padding: 20px 20px;
  background-color: white;
  opacity: .9;
  border-radius: 25px;
  width: 100%;
  height: auto;
  background-size: cover;
}

.imageMargin {
  margin-top: 15%;
}
