.App {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: Snow;
  padding-top: 70px;
}

.whiteText {
  margin: 190px 5px;
  padding: 20px 20px;
  color: black;
  text-shadow: 1px black;
  background-color: white;
  opacity: .9;
  border-radius: 25px;
  width: 100%;
  height: auto;
}

.imageMargin {
  margin-top: 15%;
}
