.error {
  background-color: pink;
  position: fixed;
  width: 100%;
  box-shadow: 0 3px 3px 0 white;
  opacity: 0.9;
  padding-top: 10px;
  padding-right: 5px;
  margin-top: 100px;
  font-weight: bolder;
}

.success {
  background-color: cyan;
  position: fixed;
  width: 100%;
  border-color: green;
  opacity: 0.9;
  box-shadow: 0 3px 3px 0 white;
  padding-top: 10px;
  padding-right: 5px;
  margin-top: 100px;
  font-weight: bolder;
}

.error button {
  opacity: .9;
  float: right;
  background-color: pink;
  border: none;
  font-weight: bolder;
}

.success button {
  background-color: cyan;
  opacity: .9;
  float: right;
  border: none;
  font-weight: bolder;
}
