.fmargin {
  padding-top: 20px;
  background-image: linear-gradient(to bottom, Snow , White, DeepSkyBlue, PaleTurquoise, White, Snow);
  background-size: cover;
  text-align: center;
}

.fmargin h6 {
  color: black;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.nmargin {
  padding-top: 20px;
  background-image: linear-gradient(to bottom, Snow , White, HotPink, Pink, White, Snow);
  background-size: cover;
  text-align: center;
}


.smargin {
  padding-top: 20px;
  background-image: linear-gradient(to bottom, Snow , White, SpringGreen, White, Snow);
  background-size: cover;
  text-align: center;
}
