.userBooks {
  background-image: url('../../images/ubookimage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100%;
  padding-top: 60px;
  text-align: center;
  padding-bottom: 70px;
}

.userBooks > h1 {
  padding-top: 30px;
  text-shadow: 2px 2px black;

}

.userBooks h6 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.white {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: pink;
  font-weight: 300;
  opacity: 0.9;
  padding: 60px;
  text-shadow: 0.5px 0.5px black;
}

@media only screen and (max-width: 450px) {
  .userBooks > h1 {
    padding-top: 10px;
  }
  
}
