li.pborder {
    background-image: url('../book1.png');
    background-repeat: no-repeat;
    background-size: 12%;
    background-position: left 15px top 15px;
    border-radius: 15px;
    border: 2px solid white;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 10px 0 gray;
    background-color: white;
    vertical-align: top;
}

/* .flexlist {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; overflow: hidden;} */
/* .flexlist-item {
   width: calc(100% / 2 - 5px);
   float: left;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;} */
.bodymargin {
  margin-top: 70px;
  background-image: linear-gradient(to bottom right, SkyBlue, pink);
  background-size: cover;
}

h1 {
  color: white;
  text-shadow: 2px 2px gray;
}
