.userBooks {
  background-image: linear-gradient(to bottom, Snow, White, Gold, White, Snow );
  background-size: cover;
}

.userBooks h6 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
